<h1>Add artists</h1>

<p>Add an artist here:</p>

<form action="/artists" method="post">
  <label for="name">Artist's name:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add Artist</button>
</form>
