<h1>Add CD</h1>

<p>Add a CD here:</p>

<form action="/CDs" method="post">
  <label for="name">Name of CD:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add CD</button>
</form>
