<h1>Welcome to the music sorter!</h1>
<a href="/artists">See the list of artists!</a>
<a href="/artists/new">Add New Artist</a>
<a href="/CDs">See the list of CDs!</a>
<a href="/CDs/new">Add New CD</a>
